{% extends "lab/base.html" %}

{% block title %}Listing{% endblock %}

{% block content %}
<div id="first-page">
  {% if teaches %}
    {% if svn_revision %}
      <div style="float:right">
        (Revision: {{ svn_revision }})
      </div>
    {% endif %}
    <h1>Teach</h1>
    <ul class="section-list">
      {% for sec in teaches %}
        <li>
          <div class="section-link">
	    <a href="{% url 'instr:section-menu' sec.id %}">{{ sec }}</a>
	  </div>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <h1>Learn</h1>
  <ul class="section-list">
    {% for sec in learns %}
      <li>
        <div class="section-link">
  	  <a href="{% url 'lab:list-labs' sec.id %}">{{ sec }}</a>
	</div>
	{% if sec.published_announcements %}
          {% load markdown_filter %}
          {% for a in sec.published_announcements %}
            <div class="announcement">
      	      <div class="title">{{ a.title }}</div>
	      <div class="body">
		{{ a.body|markdown|safe }}
	      </div>
            </div>
          {% endfor %}
        {% endif %}
      </li>
    {% empty %}
      <i>You currently have no class to learn.</i>
    {% endfor %}
  </ul>
</div>
{% endblock %}
