{% load i18n %}
<fieldset class="module">
   <h2>Assignments</h2>
   {{ inline_admin_formset.formset.management_form }}
   {{ inline_admin_formset.formset.non_form_errors }}
   <table id="assignment-inline-table">
     <thead><tr>
       <th width="10%">Number</th>
       <th>Task</th>
       {% if inline_admin_formset.formset.can_delete %}<th width="10%">{% trans "Delete?" %}</th>{% endif %}
     </tr></thead>
   
     {% for inline_admin_form in inline_admin_formset %}
        {% if inline_admin_form.form.non_field_errors %}
          <tr><td colspan="3">
	    {{ inline_admin_form.form.non_field_errors }}
          </td></tr>
        {% endif %}

	{% with inline_admin_formset.formset.can_delete as can_delete %}

  	  {% include "admin/cms/lab/include/assignment_inline_oneform.html" %}

	{% endwith %}

     {% endfor %}
   
   </table>
   
</fieldset>
